{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
              <img class="rounded-circle account-img" src="{{ url_for('static', filename='classes_pics/class3.jpg') }}" alt="Chania">
              <div class="media-body">
                <div class="article-metadata">
                  <h2> Accounting and Corporate finance </h2>
                    <small class="text-muted">Elisa Ughetto</small>
                </div>
                  <p class="article-content"> As such, information systems inter-relate with data systems on the one hand and activity systems on the other. An information system is a form of communication system in which data represent and are processed as a form of social memory. An information system can also be considered a semi-formal language which supports human decision making and action. </p>
              </div>
        </article>
        <article class="media content-section">
              <img class="rounded-circle account-img" src="{{ url_for('static', filename='classes_pics/class2.jpg') }}" alt="Chania">
              <div class="media-body">
                <div class="article-metadata">
                  <h2> Information Systems </h2>
                    <small class="text-muted">Claudio Giovanni Demartini</small>
                </div>
                  <p class="article-content"> As such, information systems inter-relate with data systems on the one hand and activity systems on the other. An information system is a form of communication system in which data represent and are processed as a form of social memory. An information system can also be considered a semi-formal language which supports human decision making and action. </p>
              </div>
        </article>
        <article class="media content-section">
              <img class="rounded-circle account-img" src="{{ url_for('static', filename='classes_pics/class1.jpg') }}" alt="Chania">
              <div class="media-body">
                <div class="article-metadata">
                  <h2> Information Systems </h2>
                    <small class="text-muted">Carlo Ferraresi</small>
                </div>
                  <p class="article-content"> As such, information systems inter-relate with data systems on the one hand and activity systems on the other. An information system is a form of communication system in which data represent and are processed as a form of social memory. An information system can also be considered a semi-formal language which supports human decision making and action. </p>
              </div>
        </article>
            <article class="media content-section">
              <img class="rounded-circle account-img" src="{{ url_for('static', filename='classes_pics/class1.jpg') }}" alt="Chania">
              <div class="media-body">
                <div class="article-metadata">
                  <h2> Information Systems </h2>
                    <small class="text-muted">Carlo Ferraresi</small>
                </div>
                  <p class="article-content"> As such, information systems inter-relate with data systems on the one hand and activity systems on the other. An information system is a form of communication system in which data represent and are processed as a form of social memory. An information system can also be considered a semi-formal language which supports human decision making and action. </p>
              </div>
        </article>
            <article class="media content-section">
              <img class="rounded-circle account-img" src="{{ url_for('static', filename='classes_pics/class1.jpg') }}" alt="Chania">
              <div class="media-body">
                <div class="article-metadata">
                  <h2> Information Systems </h2>
                    <small class="text-muted">Carlo Ferraresi</small>
                </div>
                  <p class="article-content"> As such, information systems inter-relate with data systems on the one hand and activity systems on the other. An information system is a form of communication system in which data represent and are processed as a form of social memory. An information system can also be considered a semi-formal language which supports human decision making and action. </p>
              </div>
        </article>
            <article class="media content-section">
              <img class="rounded-circle account-img" src="{{ url_for('static', filename='classes_pics/class1.jpg') }}" alt="Chania">
              <div class="media-body">
                <div class="article-metadata">
                  <h2> Information Systems </h2>
                    <small class="text-muted">Carlo Ferraresi</small>
                </div>
                  <p class="article-content"> As such, information systems inter-relate with data systems on the one hand and activity systems on the other. An information system is a form of communication system in which data represent and are processed as a form of social memory. An information system can also be considered a semi-formal language which supports human decision making and action. </p>
              </div>
        </article>
            <article class="media content-section">
              <img class="rounded-circle account-img" src="{{ url_for('static', filename='classes_pics/class1.jpg') }}" alt="Chania">
              <div class="media-body">
                <div class="article-metadata">
                  <h2> Information Systems </h2>
                    <small class="text-muted">Carlo Ferraresi</small>
                </div>
                  <p class="article-content"> As such, information systems inter-relate with data systems on the one hand and activity systems on the other. An information system is a form of communication system in which data represent and are processed as a form of social memory. An information system can also be considered a semi-formal language which supports human decision making and action. </p>
              </div>
        </article>
            <article class="media content-section">
              <img class="rounded-circle account-img" src="{{ url_for('static', filename='classes_pics/class1.jpg') }}" alt="Chania">
              <div class="media-body">
                <div class="article-metadata">
                  <h2> Information Systems </h2>
                    <small class="text-muted">Carlo Ferraresi</small>
                </div>
                  <p class="article-content"> As such, information systems inter-relate with data systems on the one hand and activity systems on the other. An information system is a form of communication system in which data represent and are processed as a form of social memory. An information system can also be considered a semi-formal language which supports human decision making and action. </p>
              </div>
        </article>
            <article class="media content-section">
              <img class="rounded-circle account-img" src="{{ url_for('static', filename='classes_pics/class1.jpg') }}" alt="Chania">
              <div class="media-body">
                <div class="article-metadata">
                  <h2> Information Systems </h2>
                    <small class="text-muted">Carlo Ferraresi</small>
                </div>
                  <p class="article-content"> As such, information systems inter-relate with data systems on the one hand and activity systems on the other. An information system is a form of communication system in which data represent and are processed as a form of social memory. An information system can also be considered a semi-formal language which supports human decision making and action. </p>
              </div>
        </article>
        <article class="media content-section">
              <img class="rounded-circle account-img" src="{{ url_for('static', filename='classes_pics/class1.jpg') }}" alt="Chania">
              <div class="media-body">
                <div class="article-metadata">
                  <h2> Information Systems </h2>
                    <small class="text-muted">Carlo Ferraresi</small>
                </div>
                  <p class="article-content"> As such, information systems inter-relate with data systems on the one hand and activity systems on the other. An information system is a form of communication system in which data represent and are processed as a form of social memory. An information system can also be considered a semi-formal language which supports human decision making and action. </p>
              </div>
        </article>
{% endblock content %}