{% extends "layout.html" %}
{% block content %}



    <h1 class="navbar-dark" >Turisim</h1>
        <article class="media content-section">
              <img class="account-img" src="{{ url_for('static', filename='turisim_pics/tur1.jpg') }}" alt="Chania">
              <div class="media-body">
                <div class="article-metadata">
                  <h2> Monte Cappuccini </h2>
                    <small class="text-muted">info: 3292732782</small>
                </div>
                  <p class="article-content"> The Church of Santa Maria al Monte dei Cappuccini is a late-Renaissance-style church on a hill overlooking the River Po near the bridge of Piazza Vittorio Veneto in Turin, Italy. It was built for the Capuchin Order; construction began in 1583, and was completed in 1656. The original design was by Ascanio Vitozzi, but was completed by the engineer Giacomo Soldati.   </p>
              </div>
        </article>
        <article class="media content-section">
              <img class="account-img" src="{{ url_for('static', filename='turisim_pics/tur1.jpg') }}" alt="Chania">
              <div class="media-body">
                <div class="article-metadata">
                  <h2> Monte Cappuccini </h2>
                    <small class="text-muted">info: 3292732782</small>
                </div>
                  <p class="article-content"> The Church of Santa Maria al Monte dei Cappuccini is a late-Renaissance-style church on a hill overlooking the River Po near the bridge of Piazza Vittorio Veneto in Turin, Italy. It was built for the Capuchin Order; construction began in 1583, and was completed in 1656. The original design was by Ascanio Vitozzi, but was completed by the engineer Giacomo Soldati.   </p>
              </div>
        </article>
        <article class="media content-section">
              <img class="account-img" src="{{ url_for('static', filename='turisim_pics/tur1.jpg') }}" alt="Chania">
              <div class="media-body">
                <div class="article-metadata">
                  <h2> Monte Cappuccini </h2>
                    <small class="text-muted">info: 3292732782</small>
                </div>
                  <p class="article-content"> The Church of Santa Maria al Monte dei Cappuccini is a late-Renaissance-style church on a hill overlooking the River Po near the bridge of Piazza Vittorio Veneto in Turin, Italy. It was built for the Capuchin Order; construction began in 1583, and was completed in 1656. The original design was by Ascanio Vitozzi, but was completed by the engineer Giacomo Soldati.   </p>
              </div>
        </article>
        <article class="media content-section">
              <img class="account-img" src="{{ url_for('static', filename='turisim_pics/tur1.jpg') }}" alt="Chania">
              <div class="media-body">
                <div class="article-metadata">
                  <h2> Monte Cappuccini </h2>
                    <small class="text-muted">info: 3292732782</small>
                </div>
                  <p class="article-content"> The Church of Santa Maria al Monte dei Cappuccini is a late-Renaissance-style church on a hill overlooking the River Po near the bridge of Piazza Vittorio Veneto in Turin, Italy. It was built for the Capuchin Order; construction began in 1583, and was completed in 1656. The original design was by Ascanio Vitozzi, but was completed by the engineer Giacomo Soldati.   </p>
              </div>
        </article>
{% endblock content %}